.main-container{
	margin-top: 20px;
}

.snek-playground {
	background: #1a1628 ;
	display: block;
	position: relative;
}
.node {
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	background: white;
	z-index: 999;

}
.food {
	z-index: 0 !important;
	background: #1a1628 !important;
}
.food img {
	width: 30px;
}
.stat {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 9999999 !important;
}
.main-title {
	font-weight: bold;
	text-transform: uppercase;
}
.speed-button {
	font-size: 10px !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
}
.grey {
	color: gray;
}
.floating {   
    animation-name: floating; 
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
} 
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 5px); } 
    100%   { transform: translate(0, -0px); }     
} 