.snek-playground {
	background: black;
	display: block;
	position: relative;
}
.node {
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	background: white;
	z-index: 999;

}
.food {
	background: red;
	z-index: 0 !important;
}