.main-container{
	margin-top: 20px;
}

.snek-playground {
	background: #1a1628 ;
	display: block;
	position: relative;
}
.node {
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	background: white;
	z-index: 999;

}
.food {
	z-index: 0 !important;
	background: #1a1628 !important;
}
.food img {
	width: 30px;
}
.stat {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
.main-title {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
}